body{
    font-family: 'Poppins', sans-serif;
}
/*-----------------
 intro section style
 ------------------ */
.intro{
    width: 100%;
    height: 700px;
    background-color: #2D25A0;
    margin-bottom: 50px;
}
.top-section{
     display: flex;
     justify-content: space-around;
     align-content: center;
     align-items: center;
}
.title{
    font-size: 34px;
    color: white;
    line-height: 84px;
    }
.button-arrow a{
    color: white;
    text-decoration: none;
    background-color:#E02C6D;
    padding: 10.8px 23.34px  ;
    }
/* 2d transform and transition started */
.man{
    transform: rotate(-29deg);
}
.man img{
    width: 560px;  
    transition: transform .5s;  
}
.ball img{
    width: 170px;
    position: relative;
    top: 260px;
    transition: transform .3s;
}
.intro:hover .man img{
    transform: rotate(49deg);  
}
.intro:hover .ball img{
    transform: translate(0, -270px) rotate(80deg); 
    transition-delay: .1s;  
}
/* 2d transform and transition ended */

 /* main section, Player grid section started */
 .players{
   display: grid;
   grid-template-columns: 330px 330px 330px;
   grid-row-gap: 27px;
   grid-column-gap: 30px;
   justify-content: center;
   margin-bottom: 165px;

 }
 .player{
    width: 330px;
    height: 474px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
 }
 .inside{
    margin: 15px;
 }
 .player img{
     width: 300px;
     height: 256px;
 }
 .details h1{
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 28px;  
}
.details p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
}
/* features title styles */
.Features-title h1{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #E02C6D;
}
/*--------------------
Gemes and Featured
---------------------- */
.information h1{
    text-align: justify;
    color: rgb(13, 238, 5);
    font-weight: 900;
    text-align: center;
}
.information p{
    text-align: justify;
    color: rgb(226, 250, 10);
    text-align: center;
    font-weight: 700;
    font-size: 12px;
}
.frame{
    width: 450px;
    height: 400px;
    position: relative;
    margin: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
.photo img{
    width: 100%;
    height: 400px; 
}
.information{
    position: absolute;
    width: 450px;
    height: 160px;
    top: 0;
    background-color: rgba(117, 117, 117, 0.445);
    opacity: 0;
    transform: translatey(400px);
    font-size: 12px;
}
.frame:hover .information{
    opacity: 1;
    transform: translatey(260px);
    transition: 1s ease;
}
.feature-games{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}
.information h1{
    display: flex;
    justify-content: center;
}
.frame:hover .photo {
    transform: scale(1.2);
    transition: .7s ease-in;
}