body{
    font-family: 'Poppins', sans-serif;
}
/*-----------------
 intro section style
 ------------------ */
.intro{
    width: 100%;
    height: 700px;
    background-color: #2D25A0;
    margin-bottom: 50px;
}
.top-section{
     display: flex;
     justify-content: space-around;
     align-content: center;
     align-items: center;
}
.title{
    font-size: 34px;
    color: white;
    line-height: 74px;
    }
.button-arrow a{
    color: white;
    text-decoration: none;
    /* margin-left: 30px; */
    background-color:#E02C6D;
    padding: 10.8px 23.34px  ;
    }
/* 2d transform and transition started */
.man{
    transform: rotate(-29deg);
}
.man img{
    width: 560px;  
    transition: transform .5s;  
}
.ball img{
    width: 170px;
    position: relative;
    top: 260px;
    transition: transform .3s;
}
.intro:hover .man img{
    transform: rotate(49deg);  
}
.intro:hover .ball img{
    transform: translate(0, -270px) rotate(80deg); 
    transition-delay: .1s;  
}
/* 2d transform and transition ended */

 /* main section */
 .players{
   display: grid;
   grid-template-columns: 330px 330px 330px;
   grid-row-gap: 27px;
   grid-column-gap: 30px;
   justify-content: center;

 }
 .player{
    width: 330px;
    height: 474px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .player img{
     width: 300px;
     height: 256px;
 }
 .details h1{
    margin-top: 16px;
    margin-bottom: -6px;
     
}